

.footer {
    background-color: #f0f0f0;
    color: #000000;
    padding: 2rem;
  }
  
  .footer-container {
    display: grid;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  
  .left {
    
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    
  }
  
  .location,
  .phone,
  .email {
    display: flex;
    align-items: center;
    padding: 1.5rem;
  }
  
  .location p,
  .phone p,
  .email p {
    margin: 0;
    padding-left: 0.5rem; 
  }
  
  .right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .s-icon{
    padding: 0 10px;
  }

  @media screen and (max-width: 640px){
    .footer-container{
        grid-template-columns: 1fr;
    }
    .left{
      align-items: center;
    }
    .phone p,
    .email p{
      margin-left: 1rem;
    }
    .location{
      margin-left: 1.9rem;
    }
  }
  